html {
  font-family: sans-serif;
  background-color: #89A236;
  margin-top: 50px;
}

h1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
  width: 330px;
  padding: 10px;
  text-align: center;
  border-style:solid;
  border-width: 2px;
  background-color: #E3FB91;
  margin-bottom: 0px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 2px;
  width: 350px;
  background-color: #F3F9E0;
  height: 300px;
}

#button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35px;
  font-size: 1.2em;
  width: 250px;
  height: 50px;
  background-color: #E3FB91;


}

#password {
  margin-left: 66px;
}

#email {
  margin-left: 82px;
}

form input {
  margin-left: 50px;
  margin-top: 15px;
}

form label {
  margin-left: 35px;
}

#first-name {
  margin-top: 50px;
}
